class {{nomeDaClasse}} {
    
    constructor({{#each campos}}{{campo}}, {{#if @last}} ;{{/if}}{{/each}}){
        {{#each campos}}
        this.{{campo}} = {{campo}};
        {{else}}
        {{/each}}
    }
    
}